# Путь к файлу с конйигурацией
CONFIG_PATH="config/local.yaml"

# Сикреты access and refresh tokens
ACCESS_SECRET=технолоджиAccess
REFRESH_SECRET=технолоджиRefresh

# Конфигурация Firebird через .env
FB_HOST="localhost"
FB_PORT="3050"
FB_NAME="/Users/odner/databases/mxc_billing.db"
FB_USER="mxc_billing_user"
FB_PASSWORD="mxc_billing_sycret"
