# FireBird setting
FB_USER=SYSDBA
FB_PASSWORD=masterkey
FB_HOST="192.168.1.22"
FB_PORT="3050"
FB_NAME="C:/Data/maximadb.fdb"

# Billing setting
BILLING_ACCESS_SECRET=технолоджиAccess
BILLING_REFRESH_SECRET=технолоджиRefresh
