# FireBird setting
FB_USER=SYSDBA
FB_PASSWORD=masterkey
FB_HOST=192.168.1.22
FB_PORT=3050
FB_NAME=C:/Data/maximadb.fdb
MAX_OPEN_CONNS=10
CONN_TIMEOUT=5s
CHARSET=UTF8

# Billing setting
ENV=dev
HOST=0.0.0.0
PORT=8443
TIMEOUT=10s
IDLE_TIMEOUT=60s
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=43200m
ACCESS_SECRET=someAccessSecret
REFRESH_SECRET=someRefreshSecret
MIGRATIONS_PATH="./migrations"

# Frontend
VITE_USE_MOCKS=false
VITE_ENV=production

# Конфигурация Firebird через .env
FB_HOST="localhost"
FB_PORT="3050"
FB_NAME="/Users/odner/databases/mxc_billing.db"
FB_USER="mxc_billing_user"
FB_PASSWORD="mxc_billing_sycret"